/*  your css code here. If applicable */
.container{
	text-align:center; 
	border:3px solid black;
	padding:20px;
	background-color:lightgray;
	width:300px;
	height:100px;
	border-radius:30px;
}
.red {
	padding:10px;
	text-align:center;
	display:inline;
	width:50px;
	height:50px;
	border-radius:50%;
	border:none;
	background-color:red;
	diplay:flex;
	justify-content:centre;
	align-items:centre;
	margin-top:20px;
	}
.green{
	padding:10px;
	text-align:center;
	display:inline;
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:green;
		border:none;

}
.yellow{
	display:inline;
	background-color:yellow;
	padding:10px;
	text-align:center;
	display:inline;
	width:50px;
	height:50px;
	border-radius:50%;
		border:none;

}